.navbar.navbar-inverse{
    background-image: url('../paper_img/city.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    /*background-position-y: 20%;*/
}
.register-card.wide{
    max-width: none;
    padding: 0 30px 30px;
}